@import "../varibles.scss";

.container {
    padding-left: 50px;
    padding-top: 24px;
}

.flex {
    display: flex;
}

.markerTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-gray;
    align-self: center;
    padding-left: 22px;
}

.title {
    margin: 24px 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: $color-black;
    & span {
        color: $color-blue;
    }
}
