$color-blue-deep: #0c0065;
$color-blue: #305ffd;
$color-red: #e86868;
$color-white: #f4f3ff;
$color-yellow: #f1c722;
$color-black: #212529;
$color-gray-deep: #424242;
$color-gray: #7F7F7F;
$color-gray-light: #D4D4D4;
$color-gray: #7F7F7F;